<div class="header">
  <div class="header-name">
    <a href="#">MyTextBook</a>
  </div>
  <div class="header-right">
    <% if user_signed_in? %>
        <%= "#{current_user.nickname}さんは、ログインしています" %>
        <%= link_to "ログアウト" , destroy_user_session_path, method: :delete %><br>
    <% else %>
        <%= link_to "新規登録" , new_user_registration_path %>
        <%= link_to "ログイン" , new_user_session_path %><br>
    <% end %>
  </div>
</div>

<div class="main">
  <!-- 単語登録 -->
  <div class="new-word">
    <% if user_signed_in? %>
      <%= form_with(model: @vocabulary, local: true ) do |f| %>
        <%= f.text_field :word, placeholder: "単語を入力" %>
        <%= f.text_field :meaning, placeholder: "意味を入力" %>
        <%= f.text_field :level, placeholder: "レベルを入力" %>
        <%= f.submit "POST" , value: "登録" %>
      <% end %>
    <% end %>
  </div>

  <!-- 単語検索 -->
  <div class="search-word">
    <%= search_form_for @q, method: :get, class: "search-form" do |f| %>
      <%= f.search_field :word_cont, placeholder: '単語名' %><br>
      <%= f.search_field :meaning_cont, placeholder: '単語の意味' %><br>
      <%= f.search_field :level_eq, placeholder: 'レベル' %><br>
      <%= f.submit '検索'%>
    <% end %>
  </div>
</div>


<!-- <table border="1" style="border-collapse: collapse" , class="show-words test"> -->

<table border="1" style="border-collapse: collapse" , class="show-words">

  <tr>
    <th class="word-label">単語</th>
    <th class="meaning-label">意味</th>
    <th class="level-label">レベル</th>
  </tr>

  <% if user_signed_in? %>
    <% @paginatable_array.each do |vocabulary| %>
      <tr>
        <td><%= vocabulary.word %></td>
        <td><%= vocabulary.meaning %></td>
        <td><%= vocabulary.level %></td>
        <td><%= link_to %></td>
        <td><%= link_to %></td>
      </tr>
    <% end %>
  <% else %>
    <%= render partial: 'model' %>
  <% end %>
</table>


<%= paginate @paginatable_array %>
