<!DOCTYPE html>
<html>
  <head>
    <title>MyWordBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- リセットCSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="header">
    <div class="header-left">
      <a href="http://localhost:3000/">Memory Bread</a>
    </div>
    <div class="header-middle">
      <a href="#" id="choose">言語選択</a>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
          <%= "#{current_user.nickname}さんは、ログインしています" %>
          <%= link_to "ログアウト" , destroy_user_session_path, method: :delete %><br>
      <% else %>
          <%= link_to "新規登録" , new_user_registration_path %>
          <%= link_to "ログイン" , new_user_session_path %><br>
      <% end %>
    </div>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
